In [1]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd

IMPORT TICK DATA

In [2]:
mt5.initialize()

True

In [3]:
from_date = datetime.now()

tick = mt5.copy_ticks_from("EURUSD",from_date,10,mt5.COPY_TICKS_ALL)

df_tick = pd.DataFrame(tick)

df_tick["time"] = pd.to_datetime(df_tick["time"],unit="s")

df_tick

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2023-03-31 12:08:18,1.08820,1.08820,0.0,0,1680264498483,6,0.0
1,2023-03-31 12:08:18,1.08819,1.08819,0.0,0,1680264498578,6,0.0
2,2023-03-31 12:08:18,1.08820,1.08820,0.0,0,1680264498681,6,0.0
3,2023-03-31 12:08:18,1.08818,1.08818,0.0,0,1680264498776,6,0.0
4,2023-03-31 12:08:18,1.08816,1.08816,0.0,0,1680264498879,6,0.0
5,2023-03-31 12:08:19,1.08812,1.08812,0.0,0,1680264499078,6,0.0
6,2023-03-31 12:08:19,1.08813,1.08813,0.0,0,1680264499182,6,0.0
7,2023-03-31 12:08:20,1.08815,1.08815,0.0,0,1680264500684,6,0.0
8,2023-03-31 12:08:20,1.08816,1.08816,0.0,0,1680264500907,6,0.0
9,2023-03-31 12:08:20,1.08817,1.08817,0.0,0,1680264500992,6,0.0